<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="spring.biz.user.vo.UserVO" alias="uservo" />
		<typeAlias type="spring.biz.product.vo.ProductVO" alias="prodvo" />
		<typeAlias type="spring.biz.category.vo.CategoryVO" alias="catevo" />		
		<typeAlias type="spring.biz.orderinfo.vo.OrderinfoVO" alias="orderinfovo" />		
		<typeAlias type="spring.biz.cash.vo.CashVO" alias="cashvo" />		
		<typeAlias type="spring.biz.car.vo.CarVO" alias="carvo" />		
		<typeAlias type="spring.biz.car.vo.CarProdVO" alias="carprodvo" />		
		<typeAlias type="spring.biz.orderinfo.vo.OrderdetailVO" alias="orderdetailvo" />		
	</typeAliases>

	<mappers>
		<mapper resource="mapper/user_mapper.xml" />
		<mapper resource="mapper/product_mapper.xml" />
		<mapper resource="mapper/category_mapper.xml" />
		<mapper resource="mapper/orderinfo_mapper.xml" />
		<mapper resource="mapper/cash_mapper.xml" />
		<mapper resource="mapper/car_mapper.xml" />
	</mappers>
</configuration>