<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="carMapper">

	
	<!-- 차량 목록 -->
	<select id="carlist" resultType="carvo">
		select *
		from car
		order by carid asc
	</select>
	
	<!-- 차량별 상품 리스트 보기 -->
	<select id="listcarprod" resultType="carvo">
		select p.prodid, p.prodnm, p.prodcnt, c.carid, cp.prodcnt
		from product p, carprod cp, car c
		where p.prodid = cp.prodid and cp.carid = c.carid
	</select>
	
</mapper>