<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cashMapper">

	<!-- 충전하기 -->
	<insert id="addcash" parameterType="cashvo">
		insert into cashcharge
		(userid, chargedate, chargeprice)
		select CASHCHARGE_SEQ.NEXTVAL AS userid, #{chargeprice}
		FROM DUAL
		
	</insert>

	<select id="cashlist" resultType="cashvo">
		select userid, chargedate, chargeprice, balance 
		from cashcharge 
		where userid = #{userid}
	</select>
	
</mapper>