<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="orderinfoMapper">
	<!-- 주문하기 -->
	<insert id="addorder" parameterType="orderinfovo">
		insert into orderinfo
		(orderid, userid, orderdate, totalprice, carid, receiptaddr,
		receiptlati, receiptlong)
		select ORDER_SEQ.NEXTVAL,
		#{userid}, sysdate, #{totalprice}, #{carid}, #{receiptaddr},
		#{receiptlati}, #{receiptlong}
		FROM DUAL
	</insert>
	
	<!-- 주문 상세 -->
	<select id="detailorder" resultType="orderinfovo">
		select orderid, prodid, prodnm, prodprice, ordercnt 
		from orderdetail
		where orderid = #{orderid}
	</select>
	
	<!-- 주문 내역 -->
	<select id="orderinfo" resultType="orderinfovo">
		select orderid, userid, orderdate, receiptaddr, carid, totalprice
		from orderinfo
		where userid = #{userid}
	</select>
</mapper>

<!-- 
OrderId
UserId
OrderDate
ReceiptAddr
CarId
TotalPrice


OrderId
PayCode
PayDate
PayPrice
UserId


ProdId
ProdNm
ProdPrice
OrderCnt
OrderPayInfo
OrderDetail
-->