<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="orderinfoMapper">
	<insert id="addorder" parameterType="orderinfovo">
		insert into orderinfo
		(orderid, userid, orderdate, totalprice, carid, receiptaddr,
		receiptlati, receiptlong)
		select ORDER_SEQ.NEXTVAL,
		#{userid}, sysdate, #{totalprice}, #{carid}, #{receiptaddr},
		#{receiptlati}, #{receiptlong}
		FROM DUAL
	</insert>
	
	<insert id="prodorder" parameterType="orderinfovo">
	
	</insert>
</mapper>

<!-- UserId : String TotalPrice : Int CarId : String ReceiptAddr : String 
	ReceiptLati : String ReceiptLong : String prodList<> : List ProdId : String 
	ProdNm : String ProdPrice : Int ProdCnt : Int private String orderid; private 
	String userid; private String orderdate; private String receiptkey; private 
	String rceiptflag; private String rceiptaddr; private int receiptlati; private 
	int receiptlong; private String carid; private int totalprice; -->