<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="orderinfoMapper">
	<!-- 주문하기 -->
	<select id="addorder" parameterType="orderinfovo">
		insert into orderinfo
		(orderid, userid, orderdate, totalprice, carid, receiptkey, receiptaddr,
		receiptlati, receiptlong)
		select ORDER_SEQ.NEXTVAL,
		#{userid}, sysdate, #{totalprice}, #{carid}, #{receiptkey}, #{receiptaddr},
		#{receiptlati}, #{receiptlong}}
		FROM DUAL
	</select>
	
	<!-- 주문 상품 -->
	<insert id="addorderprod" parameterType="orderdetailvo" >
		insert into orderdetail
		(orderid, prodid, prodnm, prodprice, ordercnt)
		select #{orderid}, #{prodid}, #{prodnm}, #{prodprice}, #{ordercnt}
		from orderdetail d, orderinfo i
		where d.orderid = i.orderid
	
	</insert>
	
	<!-- 주문 상세 -->
	<select id="detailorder" resultType="orderdetailvo">
		select d.orderid, p.prodid, p.prodnm, p.prodprice, d.ordercnt, nvl(p.imgpath, '') imgpath 
		from orderdetail d, product p
		where d.prodid = p.prodid and d.orderid = #{orderid}
	</select>
	
	<!-- 주문내역 -->
	<select id="orderinfo" resultType="orderinfovo">
		select orderid, userid, orderdate, receiptaddr, carid, totalprice
		from orderinfo
		where userid = #{userid}
	</select>
</mapper>

