<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="userMapper">
	<select id="getEmailCheck" resultType="uservo">
		select email
		from userinfo
		where email = #{email}
	</select>

	<select id="login" parameterType="spring.biz.user.vo.UserVO"
		resultType="uservo">
		select email, cashamt, adminflag, name, userid
		from userinfo
		where
		email = #{email} and pwd = #{pwd}
	</select>

	<select id="getuser" resultType="uservo">
		select userid, email, cashamt,
		adminflag, name
		from userinfo
		where email = #{email}
	</select>
	
	<select id="getuserinfo" resultType="uservo">
		select userid, email, cashamt,
		adminflag, name
		from userinfo
		where userid = #{userid}
	</select>

	<select id="getLogin" resultType="uservo">
		select userid, email, cashamt,
		adminflag, name
		from userinfo
		where email = #{email}
	</select>

	<insert id="adduser" parameterType="uservo">
		insert into userinfo(userid,
		email, pwd, regdate, name, deviceid)
		select USERINFO_SEQ.NEXTVAL,
		#{email}, #{pwd}, sysdate, #{name}, nvl(#{deviceid} , ' ') deviceid
		FROM DUAL
	</insert>

	<select id="listuser" resultType="uservo">
		select userid, email, cashamt, adminflag, regdate, deviceid, name
		from userinfo
		<include refid="search"></include>
	</select>

	<select id="countArticle" resultType="int">
		select COUNT(*) from userinfo
		<include refid="search"></include>
	</select>

	<!-- sql code 조각 -->
	<!-- 반복되는 sql의 일부를 sql태그를 이용하여 따로 빼둘 수 있음 -->
	<sql id="search">
		<choose>
			<!-- 검색 옵션이 email일 경우 -->
			<when test="searchOption == 'email'">
				where email like
				'%'||#{keyword}||'%'
				order by regdate desc
			</when>
			<!-- email이 아닐 경우 -->
			<otherwise>
				where name like
				'%'||#{keyword}||'%'
				order by regdate desc
			</otherwise>
		</choose>
	</sql>

	<update id="updateuser" parameterType="uservo">
		update userinfo set
		email=#{email} where userid =#{userid}
	</update>

	<update id="removeuser">
		delete from userinfo where userid = #{userid}
	</update>

	<select id="search" resultType="uservo" parameterType="hashMap">
		select * from userinfo
		<where>
			<if test="userid != null">userid like '%'||#{userid}||'%'</if>
			<if test="username != null">name like '%'||#{name}||'%'</if>
			<if test="email != null">email like '%'||#{email}||'%'</if>
		</where>

	</select>
</mapper>