<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="userMapper">
	<select id="getEmailCheck" resultType="uservo">
		select email
		from userinfo where email = #{email}
	</select>
	
	<select id="login" parameterType="spring.biz.user.vo.UserVO"
		resultType="uservo">
		select email, cashamt, adminflag, name
		from userinfo
		where email = #{email} and pwd = #{pwd}
	</select>

	<select id="getuser" resultType="uservo">
		select userid, email, cashamt, adminflag, name
		from userinfo
		where email = #{email}
	</select>
	
	<select id="getLogin" resultType="uservo">
		select userid, email, cashamt, adminflag, name
		from userinfo
		where email = #{email}
	</select>

	<insert id="adduser" parameterType="uservo">
		insert into userinfo (userid, email, pwd, regdate, name, deviceid)
		select USERINFO_SEQ.NEXTVAL, #{email}, #{pwd}, sysdate, #{name}, nvl(#{deviceid} , ' ') deviceid
		FROM DUAL
	</insert>

	<select id="listuser" resultType="uservo">
		select userid, email, cashamt, adminflag, regdate, deviceid, name
		from userinfo order by regdate desc
	</select>

	<update id="updateuser" parameterType="uservo">
		update userinfo set email=#{email} where userid =#{userid}
	</update>

	<update id="removeuser">
		delete from userinfo where userid = #{userid}
	</update>

	<select id="search" resultType="uservo" parameterType="hashMap">
		select * from userinfo
		<where>
			<if test="userid != null">userid like '%'||#{userid}||'%'</if>
			<if test="username != null">name like '%'||#{name}||'%'</if>
			<if test="email != null">email like '%'||#{email}||'%'</if>
		</where>

	</select>
</mapper>